[settings]                                                                                                                    │
api_url = https://hackatime.hackclub.com/api/hackatime/v1                                                                     │
api_key = 3592abdf-302a-4d89-ad87-267b11874ea6                                                                                │
heartbeat_rate_limit_seconds = 30                                                                           
exclude_unknown_project = false                                                                                                                             │
# help with config: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file     
